* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 62.5%;
  line-height: 1;
}

body {
  font-family: Roboto, sans-serif;
  color: #000000;
}

.container {
  padding: 2rem 3rem;
}

.heading-secondary {
  font-size: 5.6rem;
  font-weight: 400;
  color: #1e4545;
  text-align: center;
  margin-bottom: 8.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
